body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-2-medium: Inter;

  /* font sizes */
  --body-2-medium-size: 0.88rem;
  --body-1-medium-size: 1rem;
  --heading-1-semi-bold-size: 1.88rem;
  --font-size-28xl: 2.94rem;

  /* Colors */
  --white: #fff;
  --primary-primary-600: #1366d9;
  --grey-grey-500: #667085;
  --gray-300: #d0d5dd;
  --grey-grey-700: #48505e;
  --grey-grey-800: #383e49;
  --grey-grey-900: #2b2f38;
  --color-chocolate: #f26e1c;
  --primary-primary-700: #0f50aa;
  --gray-900: #101828;

  /* Gaps */
  --gap-281xl: 18.75rem;
  --gap-13xl: 2rem;
  --gap-9xs: 0.25rem;
  --gap-5xl: 1.5rem;
  --gap-base: 1rem;
  --gap-xs: 0.75rem;
  --gap-11xl: 1.88rem;
  --gap-xl: 1.25rem;

  /* Paddings */
  --padding-205xl: 14rem;
  --padding-3xs: 0.63rem;
  --padding-base: 1rem;
  --padding-lg: 1.13rem;
  --padding-sm: 0.88rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-9xs: 4px;
  --br-5xs: 8px;

  /* Effects */
  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
